{% extends 'base2.html.twig' %}

{% block body %}

	<div class="presentation">

		<div class="accompagne">
			<div class="image1">
				<img src="images/basket.png">
			</div>

			<div class="textepres1">
				<h1>
					Accompagné
				</h1>
				<p>Je suis une personne en situation de handicap  
					qui souhaite trouver une personne pour
					l’accompagner dans une activité 
					(balade, sorties, voyages etc..)
				</p>
			</div>
		</div>

		<div class="accompagnant">

			<div class="textepres2">
				<h1>
					Accompagnant
				</h1>
				<p>Je suis un étudiant, retraité, actif ayant du temps 
					à donner afin d’accompagner une personne en situation 
					de handicap lors d’une activité
				</p>

			</div>
			<div class="image2">
				<img src="images/photo.png">
			</div>

		</div>
	</div>

	<div class="dashboard">
		<div class="centre">
			<h1>
				Accompagné ou Accompagnant ?
			</h1>
			<p>
				tu souhaites proposer une sortie sur la plateforme ?
			</p>
			<p>
				c'est possible ici !
			</p>
			<a href="{{ path('dashboard') }}">
				<button type="submit" class="btn btn-primary">
					Proposer une sortie via mon Dashboard
				</button>
			</a>
		</div>
	</div>

{% endblock %}
