{% extends 'basesidebar.html.twig' %}

{% block title %}Hello SiteController!{% endblock %}

{% block body %}

<h1> Sorties en cours </h1>

<div class="e"> 
{{app.user.email}}


</div>


{% endblock %}