{% extends 'basesidebar.html.twig' %}

{% block title %}Hello SiteController!
{% endblock %}

{% block body %}

<div class="liens">

		<a href="{{ path('presentation') }}">
			Retour à la page d'accueil
		</a>
		<a href="{{ path('app_logout') }}">
			Deconnexion
		</a>

</div>

{% endblock %}
