/* navbar */

.navbar {

    width : 100% ;
    background : black ;
    opacity : 0.7 ;
    height: 100px ;
    position : fixed ;

    nav {

    width : 100% ;
    display : flex ;
    justify-content : center ;
    flex-direction : row;

    }

    nav ul {
    
    width : 50% ;
    
    }

    ul {
    
    width : 600px ;
    display : flex ;
    justify-content : space-evenly ;
    align-items : center ;
    

    }

    li {

    list-style-type: none ;
    display: inline;

    }

    a {

    text-decoration : none ;
    color : #FFF ;  
    font-size : 17px ;

    
    }

    img {

    width: 180px ;
    height: 90px ;

    }

}

#barrenavigation {

    width: 100%;
    
}




@media screen and (max-width: 1600px) {

    nav li {
    
    margin-left: 40px;
        
    }

}

@media screen and (min-width: 940px) {

    .imageaccueil {

    display: none;

}

}


@media screen and (max-width: 940px) {

    .navbar {

 //   height: 320px;

    nav li {

    margin-top: 12px;

    }

    ul :nth-child(4){
    
    display: none;
    
    } 

    #barrenavigation {

        position: absolute;
        top: 100px; 
        background-color: black;
        width: 210px;

    }

    .cache { 

        visibility: hidden;

    }

    nav {

    width: 200px;

 //   right: -200px;

    }

    li {

    line-height: 40px;

    }

    nav ul {

    flex-direction: column ;
    margin-right: 54px;

    }

    .logodusite {

    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: 40px;

    }

} 

.toggle-button {

    position: absolute;
    top: 40px;
    left : 86px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;

    .bar {

    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;

    }

}

}

/* page accueil (publique) */

.presentation {

    height: 1200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}


.accompagne {

    display: flex ;
    justify-content: center;
    margin-top: 100px;

    h1 {

    font-size: 30px ;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;

    }

}


.image1 {

    height: 580px ;
    width: 50%;

    img {

    height: 100%;
    width: 580px;
    
    }

}

.textepres1 {

    height: 400px ;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {

        margin-bottom: 30px;
    
    }
    
}

@media screen and (max-width: 1100px) {

    .accompagne {

        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .image1 {

        height: 100%;
        width: 100%;

        img {
    
        height: 50% ;
        width: 50% ;
        
        }

    }

    .textepres1 {

        width: 100%;

    }

    .cen {

        width: 50%;

        h1 {

        font-weight: bold;

        }

    }

    .presentation {

        height: 1760px;

    }

}

@media screen and (max-width: 1100px) {

    .accompagnant {

        display:flex;
        flex-direction: column;
        align-items: center;

    }
// pour placer une div en dessus de l'autre

    .accompagnant> div {
        width: 44%;
    }
    .accompagnant :nth-child(1) {
        order: 1;
    }
    .presentation {
        height: 1760px;
    }

}

@media screen and (max-width: 1000px) {

    .accompagnant {

        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .image2 {

        margin-right: 40px;

        img {

        width: 100%;

        }
        
    }

    .textepres2 {

        width: 50%;
        margin-left: 40px;

    }
    

    .presentation {

        height: 1700px;

    }


// pour placer une div en dessus de l'autre

    .accompagnant> div {
        width: 44%;
    }
    .accompagnant :nth-child(1) {
        order: 1;
    }

}

@media screen and (max-width: 800px) {

    .presentation {

        height: 1550px;

    }

}

@media screen and (max-width: 700px) {

    .presentation {

        height: 1450px;

    }

}


.accompagnant {

    display: flex ;
    justify-content: center;  
    align-items: center; 

    h1 {

    font-size: 30px ;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    
    }

}


.image2 {

    width: 560px ;
    margin-left: 40px;


    img {
    
        width: 90%;
        
    }
    
}

.textepres2 {

    height: 400px ;
    width: 700px;
    padding-top: 160px ;
    margin-right: 60px;

    h1 {

    margin-bottom: 30px;
    font-weight: bold;
        
    }

}



.inscrire {

    height : 300px;
    width: 100%;

    a {

    display: flex;
    justify-content: center;
    text-decoration: none;


    }
    

}

.centre {

    h1 {

        margin-bottom: 30px;

    }
}



/* page accueil (privée) - presentation */


.dashboard {

    display:flex ;
    justify-content:center ;

}

.centre {

    text-align: center;

    h1 {

    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    
    }
    
}


/* footer */


.footer {

    background: black ;
    width: 100% ;
    opacity: 0.7 ;
    height: 150px ;
    

    nav {

    text-align : center ;
    width : 100% ;
    height: 100%;
    display : flex ;
    justify-content : center ;
    flex-direction : row;
    align-items: center;

    }

    nav ul {
    
    width : 50% ;
    
    }

    ul {
    
    width : 600px ;
    display : flex ;
    justify-content : space-evenly ;
    align-items : center ;
    

    }

    li {

    list-style-type: none ;
    
    }

    a {

    text-decoration : none ;
    color : #FFF ;  
    font-size : 17px ;

        
    }

    img {

    width: 50px ;
    height: 50px ;

    }


}

@media screen and (max-width: 1000px) {

    nav li {
    
        margin-left: 30px;
        
        }

}


/* pages les sorties */

.proposersortie {

    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 50px;

}

.propositionsortie {

    width: 350px;
    text-align: center;
    margin-left: 40px;

}

.titreproposition {

    h1 {

    font-weight: bold;

    }
    
}

.sortie {

    height: 100%;
    width: 100%;   

    img {

    width: 160px ;
    height: 140px ;

    }

}

.alignement {

    height : 100%;
    width : 100%;
    display: flex;
    justify-content: center;


    h1 {

    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;

    }
    

}

.sort {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;

}

.sor {

    width: 280px;
    margin: 30px;

}

.aumilieu {

    .prenom {

    margin-bottom: 20px;

    }

    img {

    display: block;
    margin-left: auto;
    margin-right: auto;
    
    }

    p {

    text-align: center;
    margin-top: 20px;

    }

}

.message {

    margin-bottom: 20px;

}

.prenom {

    text-align: center;

}


.sorties {

    h1 {

    text-align: center;


    }
}

@media screen and (max-width: 1250px) {

    .titreproposition {

        h1 {
    
        margin-left: 30px;
        font-size: 30px;
        font-weight: bold;

        }
        
    }

}



/* page d'inscription */

.inscriptionsite {

    margin-top: 70px;

    h1 {

    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;


    }

}

.logosite {

    width: 250px ;
    height: 125px ;
    margin-left: auto;
    margin-right: auto;
    

    img {

    width: 100% ;
    height: 100% ;
    
    }

}

#email {

    padding-bottom: 20px;

}

#prenom {

    padding-bottom: 20px;

}

#nom {

    padding-bottom: 20px;

}

#avatar {

    padding-bottom: 20px;

}

#motdepasse {

    padding-bottom: 20px;

}

#validation {

    padding-bottom: 20px;

}

.compte {

    text-align: center;
    margin-top: 30px;

}

.inscription {

    display: flex;
    justify-content: center;

}

.container2 {

    height: 500px ;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;

}

.btninscription {

    display: flex;
    justify-content: center;

}



/* page de connexion */

.connexion {

    width: 500px;

    h1 {

    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold ;

    }
    
}

.axe {

    display: flex;
    justify-content: center;
    margin-top: 80px;
    
}

.container {

    height: 400px;
    background-color: #f7f7f7;
    margin-top: 40px; 

}

.pasdecompte {

    text-align: center ;
    margin-top: 30px;

}

.milieu2 {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.adresseemail {

    padding-bottom: 20px;

}

.motdepasse {

    padding-bottom: 20px;

}

.motdepasseoublie {

    padding-bottom: 20px;
    
}

.btnconnexion {

    display: flex;
    justify-content: center;

}

/* page dashboard + sidebar  */

.liens {

    position: absolute;
    top: 56px;
    right : 180px;
    display: flex;
    justify-content: center;

    .retour {

    margin-right: 25px;

    }
    
}

.dashboardperso {

    height: 800px;

}

.bienvenue {
    
    display: flex;
    justify-content: center;
    margin-top: 160px;
    margin-bottom: 100px;
    max-height: 25px;

    h1 {

    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-left: 400px;
    width: 100%;

    }

}

.imgutilisateur {

    position: absolute;
    top: 30px;
    right : 50px;

    img {

        height: 80px;
        width: 80px;
        border-radius: 300px;

    }

}

.illustration {

    display: flex;
    justify-content: center;
    margin-left: 400px;

    img {

    height: 800px ;
    width : 500px ;

    }

}

.sidebar {

    height: 100%;
    width: 400px;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 100px;
    background-color: #4D4D4D;

    a {

    padding: 20px;
    font-size: 24px;
    display: block;
    text-decoration: none;
    color: white;
    text-align: center ;
    

    }

    .sidebar a:hover {

    cursor: pointer;
    opacity: .7;

    }

    .body-text {

    margin-left: 150px;
    font-size: 18px;

    }
            
}

@media screen and (max-width: 1300px) {

    .sidebar {

    width: 240px;

    a {

        font-size: 17px;
        

    }

    }

    .bienvenue {
    
        h1 {
    
        font-size: 18px;
        margin-right: 200px;

        }

    }

    .illustration {
    
        margin-left: 200px;
        
        img {
        
        height: 600px ;
        width: 350px ;
        
        }
            
    }

} 

@media screen and (max-width: 1018px) {


    .sidebar {

        width: 180px;

        a {

        font-size: 14px;
        font-weight: bold;

        }
    
    }

    .bienvenue {

    
        h1 {
    
        font-size: 14px;
        font-weight: bold;
    
        }

    }

    .illustration {
    
        margin-left: 220px;
        
        img {
        
        height: 400px ;
        width: 240px ;
        
        }
            
    }

    .liens {

        a {

        font-size: 13px;
        

        }
        
    }

    .imgutilisateur {

        right: 26px;
    
        img {
    
            height: 60px;
            width: 60px;
    
        }
    
    }

    .liens {

        right: 120px;

    
        .retour {
    
        margin-right: 25px;
    
        }
        
    }


}

@media screen and (max-width: 700px) {


    .sidebar {

        width: 130px;

        a {

        font-size: 12px;

        }
    
    }

    .bienvenue {

    
        h1 {
    
        font-size: 12px;
        font-weight: bold;

        }

    }

    .illustration {
    
        margin-left: 160px;
        
        img {
        
        height: 350px ;
        width: 200px ;
        
        }
            
    }

    .liens {

        a {

        font-size: 10px;

        }
        
    }

    .imgutilisateur {

        right: 30px;
    
        img {
    
            height: 60px;
            width: 60px;
    
        }
    
    }

    .liens {

        right: 120px;

    
        .retour {
    
        margin-right: 25px;
    
        }
        
    }


}


/* page ajout d'une sortie */

.container3 {

    display: flex;
    justify-content: center;
    margin-top: 140px;
    margin-left: 400px;

}

.ajoutsortie {

    h1 {
        
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-align: center;
        
    }

}

.container4 {

    height: 600px;
    width: 600px;

}

.formulaireajout {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.boutonajout {

    margin: 0 auto;
    width: 100px; 

    button {

    margin: 0 auto;
    width: 100%;
    
    }

}

.description1 {

    width: 10px;

    .textarea {

        width: 200px !important;
    
    }

}



@media screen and (max-width: 1300px) {

.container3 {

    margin-left: 280px;

}

}

@media screen and (max-width: 1018px) {

.container3 {
    
    margin-left: 140px;
    
}


#ajoutsortie_image {

    width: 280px;

}

#ajoutsortie_ville {

    width: 280px;

}

#ajoutsortie_adresse {

    width: 280px;

}

.ajoutsortie {

    h1 {

    font-size: 24px;

    }

}

.style {

    width: 0px;
}
    
}

element.style {

    width: 0px;

}



/* page modification d'une sortie */

.container5 {

    display: flex;
    justify-content: center;
    margin-top: 140px;
    margin-left: 400px;

}

.container6 {

    height: 600px;
    width: 600px;

}

.formulairemodif {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.modifsortie {

    h1 {
        
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-align: center;
        
    }

}

#sup {

    height: 50px;
    width: 50px;

}


#date1 {

    padding-bottom: 20px;

}

#ville1 {

    padding-bottom: 20px;

}

#adresse1 {

    padding-bottom: 20px;

}

#image1 {

    padding-bottom: 20px;

}

#description1 {

    padding-bottom: 20px;

}

#validation {

    padding-bottom: 20px;

}

.poubelle {

    padding-top: 30px;

    a {

    margin-left: 500px;

    }

}

@media screen and (max-width: 1300px) {

    .container5 {
    
        margin-left: 280px;
    
    }
    
}

@media screen and (max-width: 1018px) {

    .container5 {
        
        margin-left: 140px;
        
    }

    .container6 {

        width: 400px;

    }

    .poubelle {
    
        a {
    
        margin-left: 300px;
    
        }
    
    }

}

/* pages sortiesencours */

.encours {

    display: flex;
    justify-content: center;
    margin-top: 200px;
    margin-left: 45px;
    margin-right: 45px;
    height: 100%;

}

.boutajout {

    text-align: center;

    h1 {

    padding-top: 20px ;

    }

}

.accompagnanttrouve {

    h1 {

    font-size: 25px;

    }

}



.nontrouve {

    h1 {

    text-align: center;
    font-weight: bold;

    }
}

.centrecontainer {

    height: 100%;
    margin-left: 400px;

}

.milieucontainer {

    height: 100%;

}

.sortie2 {

    height: 100%;
    width: 100%;
    border: 2px solid red;
    
    img {

    width: 160px ;
    height: 140px ;

    }

}

.alignement2 {

    height : 100%;
    width : 100%;
    border: 1px solid red;


    h1 {

    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;

    }
    

}

.sort2 {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;

}

.sor2 {

    width: 280px;
    border: 2px solid blue;
    margin: 30px;

}

.personnes {

    margin-bottom : 30px;

}

#datecadrage {

    margin-top: 20px;
    
}

@media screen and (max-width: 1300px) {


    .centrecontainer {

        margin-right: 150px;
        width: 720px;

    }

    .milieucontainer {

        width: 720px;

    }

    .sortie2 {

        width: 720px;

    }

    .alignement2 {

        width: 720px;

    }

}

@media screen and (max-width: 1000px) {

    .encours {

        margin-right: 100px;

    }

    .centrecontainer {

        width: 460px;

    }

    .milieucontainer {

        width: 460px;

    }

    .sortie2 {

        width: 460px;

    }

    .alignement2 {

        width: 460px;

    }


    .boutajout {

        h1 {

        font-size: 15px

        }

    }

    .nontrouve {

        h1 {

        font-size: 15px
    
        }


    }


}

@media screen and (max-width: 700px) {

    .centrecontainer {

        width: 370px;
        margin-right: 200px;

    }

    .milieucontainer {

        width: 370px;

    }

    .sortie2 {

        width: 370px;

    }

    .alignement2 {

        width: 370px;

    }


}

/* page sortieterminee */

.encours2 {

    display: flex;
    justify-content: center;
    margin-left: 45px;
    margin-right: 45px;
    height: 100%;

}

.sorties_terminees {

    h1 {

        text-align: center;
        margin-top: 200px;
        margin-left: 400px;

    }

}

@media screen and (max-width: 1300px) {

.sorties_terminees {

    h1 {

        margin-left: 240px;

    }

}

}

@media screen and (max-width: 700px) {

    .sorties_terminees {
    
        h1 {
    
            margin-left: 200px;
    
        }
    
    }
    
}


/* pages concept */


.yohann {

    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 50px;

    img {

        height: 13%;
        width: 13%;
    
    }


}

@media screen and (max-width: 1000px) {

.yohann {

        display: flex;
        justify-content: center;
    
        img {
    
            height: 130px;
            width: 130px;
        
        }
    
    
}

}

.pitch {

    width: 80%;
    margin-top: 100px;
    margin-bottom: 100px;
    margin: auto;

    p {

    line-height: 2;
    color: black;

    }

}

.illustrationsorties {

    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 80px;

    img {

    height: 30%;
    width: 30%;

    }


}

@media screen and (max-width: 1000px) {

    .illustrationsorties {
    
            display: flex;
            justify-content: center;
        
            img {
        
                height: 355px;
                width: 310px;
            
            }
        
        
    }
    
}


.fonctionnement {

    width: 80%;
    margin-top: 100px;
    margin-bottom: 100px;
    margin: auto;


    p {

    line-height: 2;
    color: black;

    }

}

.centre2 {

    text-align: center;
    padding-top: 70px;

    h1 {

    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    
    }
    
}

.titrearticle {

    text-align: center;
    margin-top: 150px;
    margin-bottom: 100px;

    h2 {

    color: #CA2222;
    font-weight: bold;
    
    }

}


.articleimage {

    width: 300px;
    height: 300px;

    img {

    width: 300px;
    height: 300px;

    }

}

.datearticle {

    display: flex;


    img {

        width: 50px ;
        height: 50px ;

    }

}

.articles {

    display: flex;
    justify-content: center;
    margin-bottom: 100px;

}

.art {

    width: 400px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;

    .datearticle {

    margin-left: auto;
    margin-right: auto;

    }

    .articleimage {

    margin-left: auto;
    margin-right: auto;

    }
    
    h2 {

    margin-bottom: 30px;

    }

    p {

    margin-top: 30px;
    
    }

}

.voirarticle {

    padding-top: 20px;

}


/* pages show concept */

.lesarticles {

    width: 100%;
    margin-top: 100px;
    height: 1560px;

}

.showarticle {

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.showcentrage {

    width: 800px;

}

.retourconcept {

    padding-bottom: 50px;

}


.articletp {

    img {

    height: 400px;
    width: 800px;

    }

    h2 {

    padding-bottom: 40px;

    }

}

.contenuarticle {

    width: 100%;

}

.datearticle {

    width: 100px; 
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0 auto;

    img {

    margin-right: 40px;

    }

    p {

    font-weight: bold;

    }

}

.containermax {

    width: 800px;

    p {

    font-weight: bold;
    width: 800px;
    height: 800px;

    }

}

@media screen and (max-width: 920px) {

.articletp {

        img {
    
        height: 70%;
        width: 70%;
    
        }
    
}

.contenuarticle {

    width: 70%;
    margin: 0 auto;

}

.containermax {

    width: 100%;

    p {

    width: 100%;

    }

}

.datearticle {

    margin: 0 auto;

}

}

/* page detailsortie */

.showsorties {

    margin-top: 120px;
    margin-left: 400px;
    text-align: center;

}

.showcentrer {

    display: flex;
    justify-content: center;

}

.conteneursortie {

    width: 340px;
    margin: 30px;

    img {

    width: 335px;


    }

}

.infospratiques {

    h1 {

    font-size: 20px;

    }

    p {

    font-size: 12px;

    }
}

.centrerinfos {

    margin-top: 100px;

}

.titreinfos {

    h1 {

    text-align: center;

    }

}

.boiteinfos {

    background-color: black;
    width: 300px;
    height: 180px;
    border-radius: 20px;
    margin: 0 auto;
}

.boiteinfos {

    .forminfos {

    padding-top: 30px;
    padding-left: 10px;

    }

}

#formboutton {

    margin-left: 20px;
    border-radius: 2px;
    background-color: #1877F2;

}

.centrepoubelle {

    margin-right: 0px;

}

.uneinfo {

    display: flex;
    justify-content: center;
    margin-top: 30px;

    p {

    color: white;
    margin-left: 15px;

    }

    img {

    height: 24px;
    width: 24px;

    }

}


.poubelle {

    a {

    margin: 0 auto;

    }

}

@media screen and (max-width: 1300px) {

.showsorties {

    margin-left: 215px;

}

}

@media screen and (max-width: 1025px) {

    .showsorties {
    
        margin-left: 150px;
    
    }
    
    .conteneursortie {

        width: 250px;

        img {

        width: 246px;

        }

    }

    .infospratiques {

        width: 250px;
        margin-left: 60px;
    }

    .boiteinfos {

        width: 250px;

    }

    .uneinfo {

        p {

        font-size: 11px;

        }

    }

    #forminput {

        width: 70%;

    }

}

@media screen and (max-width: 800px) {

    .conteneursortie {

        width: 180px;
        margin-top: 80px;

        img {

        width: 176px;

        }

    }

    #sup {

        height: 36px;
        width: 36px;

    }

    .infospratiques {

        margin-left: 20px;
        margin-bottom: 80px;

    }

    .showsorties {

        margin-left: 140px;

    }

    .showcentrer{

        display: flex;
        flex-direction: column;
        align-items: center;

    }


}




