/* navbar */

.navbar {

    width : 100% ;
    background : black ;
    opacity : 0.7 ;
    height: 100px ;
    position : fixed ;

    nav {

    text-align : center ;
    width : 100% ;
    display : flex ;
    justify-content : center ;
    flex-direction : row;
    }

    nav ul {
    
    width : 50% ;
    
    }

    ul {
    
    width : 600px ;
    display : flex ;
    justify-content : space-evenly ;
    align-items : center ;
    

    }

    li {

    list-style-type: none ;
    
    }

    a {
   
        text-decoration : none ;
        color : #FFF ;  
        font-size : 20px ;
        
    }

    img {

    width: 180px ;
    height: 90px ;

    }


}

/* page accueil (publique) */

.presentation {

    width: 1000px ;
    height: 1200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}


.accompagne {

    display: flex ;
    justify-content: center;

    h1 {

    font-size: 30px ;

    }

    img {

    height: 600px ;
    width: 600px ;
    }

}

.image1 {

    height: 400px ;
    width: 700px;

}

.textepres1 {

    height: 400px ;
    width: 700px;
    padding-top: 140px ;

}



.accompagnant {

    display: flex ;
    justify-content: center;
    align-items: center;
    

    h1 {

    font-size: 30px ;
    
    }

    img {
    
        height: 450px ;
        width: 450px ;
    
    }
}

.image2 {

    height: 400px ;
    width: 700px;
    
}

.textepres2 {

    height: 400px ;
    width: 700px;
    padding-top: 160px ;
}

.inscrire {

    height : 300px;
    width: 100%;

    a {

    display: flex;
    justify-content: center;
    text-decoration: none;

    }
    

}

/* page accueil (privée) - presentation */


.dashboard {

    display:flex ;
    justify-content:center ;

}

.centre {

    text-align: center;
    
}


/* footer */


.footer {

    width : 100% ;
    background : black ;
    opacity : 0.7 ;
    height: 150px ;


    nav {

    text-align : center ;
    width : 100% ;
    height: 100%;
    display : flex ;
    justify-content : center ;
    flex-direction : row;
    align-items: center;
    }

    nav ul {
    
    width : 50% ;
    
    }

    ul {
    
    width : 600px ;
    display : flex ;
    justify-content : space-evenly ;
    align-items : center ;
    

    }

    li {

    list-style-type: none ;
    
    }

    a {

    text-decoration : none ;
    color : #FFF ;  
    font-size : 20px ;
        
    }

    img {

    width: 50px ;
    height: 50px ;

    }


}



/* pages les sorties */

.sortie {

    height: 100%;
    width: 1200px;
    border: 2px solid black;
    

    img {

    width: 160px ;
    height: 140px ;

    }

}

.alignement {

    height : 100%;
    width : 1200px;
    border: 2px solid black;



    h1 {

    font-size: 40px;

    }
    

}

.sort {

    display: flex;
    justify-content: center;
    height: 500px;
    width: 300px;

}

.sor {

    
    width: 300px;
    border: 2px solid blue;
    margin: 30px;

}




/* page d'inscription */

.inscriptionsite {

    h1 {

    text-align: center;

    }

}

.logosite {

    width: 250px ;
    height: 125px ;
    margin-left: auto;
    margin-right: auto;
    

    img {

    width: 100% ;
    height: 100% ;
    
    }

}

.compte {

    text-align: center;

}

.inscription {

    display: flex;
    justify-content: center;

}

.container2 {

    height: 600px ;
    width: 600px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;


}

/* page de connexion */

.connexion {

    h1 {

    text-align: center;

    }
    
}

.container {

    height: 600px;
    width: 300px;
    border: 2px solid black;
    
}

.pasdecompte {

    text-align: center ;

}

.milieu2 {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

/* page dashboard */

.liens {

    display: flex;
    justify-content: center;
    
}

.sidebar {

    height: 100%;
    width: 400px;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 40px;
    background-color: #4D4D4D;

    a {

    padding: 20px;
    font-size: 24px;
    display: block;
    text-decoration: none;
    color: white;
    text-align: center ;
    

    }

    .sidebar a:hover {

    cursor: pointer;
    opacity: .7;

    }

    .body-text {

    margin-left: 150px;
    font-size: 18px;

    }
            
}

.bienvenue {
    
    display: flex;
    justify-content: center;

}

.illustration {

    display: flex;
    justify-content: center;

    img {

    height: 800px ;
    width : 500px ;

    }
}


/* page dashboardsortiesencours */

.e {
    
    display: flex;
    justify-content: center;

}

.ajout {

    display: flex;
    justify-content: center;

    a {

    display: flex;
    justify-content: center;

    }

}

/* page ajout d'une sortie */

.container3 {

    display: flex;
    justify-content: center;

}

.container4 {

    height: 600px;
    width: 600px;
    border: 2px solid black;

}

.formulaireajout {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}


/* pages sortiesencours */

.sortie2 {

    margin-left: auto;
    margin-right: auto;
    height: 1000px;
    width: 600px;
    border: 2px solid black;
    

    img {

        width: 180px ;
        height: 160px ;
    
    }

}

.alignement2 {

    display: flex;
    justify-content: center;
    height : 1000px;
    width : 600px;
    border: 2px solid black;
    


    h1 {

    font-size: 50px;

    }
    

}


.sort2 {

    display: flex;
    justify-content: center;
    height: 400px;
    width: 300px;
    
}

.sor2 {

    height: 400px;
    width: 300px;
    border: 2px solid blue;
    margin: 30px;
    

    
}

.e2 {

    display: flex;
    justify-content: center;

    h1 {

    text-align: center;

    }

}
