@charset "UTF-8";
/* navbar */
.navbar {
  width: 100%;
  background: black;
  opacity: 0.7;
  height: 100px;
  position: fixed;
}

.navbar nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar nav ul {
  width: 50%;
}

.navbar ul {
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar li {
  list-style-type: none;
  display: inline;
}

.navbar a {
  text-decoration: none;
  color: #FFF;
  font-size: 17px;
}

.navbar img {
  width: 180px;
  height: 90px;
}

#barrenavigation {
  width: 100%;
}

@media screen and (max-width: 1600px) {
  nav li {
    margin-left: 40px;
  }
}

@media screen and (min-width: 940px) {
  .imageaccueil {
    display: none;
  }
}

@media screen and (max-width: 940px) {
  .navbar nav li {
    margin-top: 12px;
  }
  .navbar ul :nth-child(4) {
    display: none;
  }
  .navbar #barrenavigation {
    position: absolute;
    top: 100px;
    background-color: black;
    width: 210px;
  }
  .navbar .cache {
    visibility: hidden;
  }
  .navbar nav {
    width: 200px;
  }
  .navbar li {
    line-height: 40px;
  }
  .navbar nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 54px;
  }
  .navbar .logodusite {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 40px;
  }
  .toggle-button {
    position: absolute;
    top: 40px;
    left: 86px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
  }
  .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
  }
}

/* page accueil (publique) */
.presentation {
  height: 1200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.accompagne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
}

.accompagne h1 {
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.image1 {
  height: 580px;
  width: 50%;
}

.image1 img {
  height: 100%;
  width: 580px;
}

.textepres1 {
  height: 400px;
  width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.textepres1 h1 {
  margin-bottom: 30px;
}

@media screen and (max-width: 1100px) {
  .accompagne {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .image1 {
    height: 100%;
    width: 100%;
  }
  .image1 img {
    height: 50%;
    width: 50%;
  }
  .textepres1 {
    width: 100%;
  }
  .cen {
    width: 50%;
  }
  .cen h1 {
    font-weight: bold;
  }
  .presentation {
    height: 1760px;
  }
}

@media screen and (max-width: 1100px) {
  .accompagnant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .accompagnant > div {
    width: 44%;
  }
  .accompagnant :nth-child(1) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .presentation {
    height: 1760px;
  }
}

@media screen and (max-width: 1000px) {
  .accompagnant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .image2 {
    margin-right: 40px;
  }
  .image2 img {
    width: 100%;
  }
  .textepres2 {
    width: 50%;
    margin-left: 40px;
  }
  .presentation {
    height: 1700px;
  }
  .accompagnant > div {
    width: 44%;
  }
  .accompagnant :nth-child(1) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media screen and (max-width: 800px) {
  .presentation {
    height: 1550px;
  }
}

@media screen and (max-width: 700px) {
  .presentation {
    height: 1450px;
  }
}

.accompagnant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.accompagnant h1 {
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.image2 {
  width: 560px;
  margin-left: 40px;
}

.image2 img {
  width: 90%;
}

.textepres2 {
  height: 400px;
  width: 700px;
  padding-top: 160px;
  margin-right: 60px;
}

.textepres2 h1 {
  margin-bottom: 30px;
  font-weight: bold;
}

.inscrire {
  height: 300px;
  width: 100%;
}

.inscrire a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}

.centre h1 {
  margin-bottom: 30px;
}

/* page accueil (privée) - presentation */
.dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.centre {
  text-align: center;
}

.centre h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

/* footer */
.footer {
  background: black;
  width: 100%;
  opacity: 0.7;
  height: 150px;
}

.footer nav {
  text-align: center;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer nav ul {
  width: 50%;
}

.footer ul {
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer li {
  list-style-type: none;
}

.footer a {
  text-decoration: none;
  color: #FFF;
  font-size: 17px;
}

.footer img {
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 1000px) {
  nav li {
    margin-left: 30px;
  }
}

/* pages les sorties */
.proposersortie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 100px;
  padding-bottom: 50px;
}

.propositionsortie {
  width: 350px;
  text-align: center;
  margin-left: 40px;
}

.titreproposition h1 {
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

.sortie {
  height: 100%;
  width: 100%;
}

.sortie img {
  width: 160px;
  height: 140px;
}

.alignement {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.alignement h1 {
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.sor {
  width: 280px;
  margin: 30px;
}

.aumilieu .prenom {
  margin-bottom: 20px;
}

.aumilieu img {
  display: block;
}

.aumilieu p {
  margin-top: 20px;
}

.message {
  margin-bottom: 20px;
}

.prenom {
  font-weight: bold;
}

.sorties h1 {
  text-align: center;
}

@media screen and (max-width: 1250px) {
  .titreproposition h1 {
    margin-left: 30px;
    font-size: 30px;
    font-weight: bold;
  }
}

/* page d'inscription */
.inscriptionsite {
  margin-top: 70px;
}

.inscriptionsite h1 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 30px;
}

.logosite {
  width: 250px;
  height: 125px;
  margin-left: auto;
  margin-right: auto;
}

.logosite img {
  width: 100%;
  height: 100%;
}

#email {
  padding-bottom: 20px;
}

#prenom {
  padding-bottom: 20px;
}

#nom {
  padding-bottom: 20px;
}

#avatar {
  padding-bottom: 20px;
}

#motdepasse {
  padding-bottom: 20px;
}

#validation {
  padding-bottom: 20px;
}

.compte {
  text-align: center;
  margin-top: 30px;
}

.inscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container2 {
  height: 500px;
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f7f7f7;
}

.btninscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* page de connexion */
.connexion {
  width: 500px;
}

.connexion h1 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 30px;
}

.axe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px;
}

.container {
  height: 400px;
  background-color: #f7f7f7;
  margin-top: 40px;
}

.pasdecompte {
  text-align: center;
  margin-top: 30px;
}

.milieu2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.adresseemail {
  padding-bottom: 20px;
}

.motdepasse {
  padding-bottom: 20px;
}

.motdepasseoublie {
  padding-bottom: 20px;
}

.btnconnexion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* page dashboard + sidebar  */
.liens {
  position: absolute;
  top: 56px;
  right: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.liens .retour {
  margin-right: 25px;
}

.dashboardperso {
  height: 800px;
}

.bienvenue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 160px;
  margin-bottom: 100px;
  max-height: 25px;
}

.bienvenue h1 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-left: 400px;
  width: 100%;
}

.imgutilisateur {
  position: absolute;
  top: 30px;
  right: 50px;
}

.imgutilisateur img {
  height: 80px;
  width: 80px;
  border-radius: 300px;
}

.illustration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 400px;
}

.illustration img {
  height: 800px;
  width: 500px;
}

.sidebar {
  height: 100%;
  width: 400px;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 100px;
  background-color: #4D4D4D;
}

.sidebar a {
  padding: 20px;
  font-size: 24px;
  display: block;
  text-decoration: none;
  color: white;
  text-align: center;
}

.sidebar .sidebar a:hover {
  cursor: pointer;
  opacity: .7;
}

.sidebar .body-text {
  margin-left: 150px;
  font-size: 18px;
}

@media screen and (max-width: 1300px) {
  .sidebar {
    width: 240px;
  }
  .sidebar a {
    font-size: 17px;
  }
  .bienvenue h1 {
    font-size: 18px;
    margin-right: 200px;
  }
  .illustration {
    margin-left: 200px;
  }
  .illustration img {
    height: 600px;
    width: 350px;
  }
}

@media screen and (max-width: 1018px) {
  .sidebar {
    width: 180px;
  }
  .sidebar a {
    font-size: 14px;
    font-weight: bold;
  }
  .bienvenue h1 {
    font-size: 14px;
    font-weight: bold;
  }
  .illustration {
    margin-left: 220px;
  }
  .illustration img {
    height: 400px;
    width: 240px;
  }
  .liens a {
    font-size: 13px;
  }
  .imgutilisateur {
    right: 26px;
  }
  .imgutilisateur img {
    height: 60px;
    width: 60px;
  }
  .liens {
    right: 120px;
  }
  .liens .retour {
    margin-right: 25px;
  }
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 130px;
  }
  .sidebar a {
    font-size: 12px;
  }
  .bienvenue h1 {
    font-size: 12px;
    font-weight: bold;
  }
  .illustration {
    margin-left: 160px;
  }
  .illustration img {
    height: 350px;
    width: 200px;
  }
  .liens a {
    font-size: 10px;
  }
  .imgutilisateur {
    right: 30px;
  }
  .imgutilisateur img {
    height: 60px;
    width: 60px;
  }
  .liens {
    right: 120px;
  }
  .liens .retour {
    margin-right: 25px;
  }
}

/* page ajout d'une sortie */
.container3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 140px;
  margin-left: 400px;
}

.ajoutsortie h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-align: center;
}

.container4 {
  height: 600px;
  width: 600px;
}

.formulaireajout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.boutonajout {
  margin: 0 auto;
  width: 100px;
}

.boutonajout button {
  margin: 0 auto;
  width: 100%;
}

.description1 {
  width: 10px;
}

.description1 .textarea {
  width: 400px !important;
}

.alignerelements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 1300px) {
  .container3 {
    margin-left: 280px;
  }
}

@media screen and (max-width: 1018px) {
  .container3 {
    margin-left: 140px;
  }
  #ajoutsortie_image {
    width: 280px;
  }
  #ajoutsortie_ville {
    width: 280px;
  }
  #ajoutsortie_adresse {
    width: 280px;
  }
  .ajoutsortie h1 {
    font-size: 24px;
  }
}

/* page modification d'une sortie */
.container5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 140px;
  margin-left: 400px;
}

.container6 {
  height: 600px;
  width: 600px;
}

.formulairemodif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin-top: 60px;
}

.modifsortie h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-align: center;
}

#sup {
  height: 50px;
  width: 50px;
}

#date1 {
  padding-bottom: 20px;
}

#ville1 {
  padding-bottom: 20px;
}

#adresse1 {
  padding-bottom: 20px;
}

#image1 {
  padding-bottom: 20px;
}

#description1 {
  padding-bottom: 20px;
}

#validation {
  padding-bottom: 20px;
}

.poubelle a {
  margin-left: 500px;
}

@media screen and (max-width: 1300px) {
  .container5 {
    margin-left: 280px;
  }
}

@media screen and (max-width: 1018px) {
  .container5 {
    margin-left: 140px;
  }
  .container6 {
    width: 400px;
  }
  .poubelle a {
    margin-left: 300px;
  }
}

/* pages sortiesencours */
.encours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 200px;
  margin-left: 45px;
  margin-right: 45px;
  height: 100%;
}

.boutajout {
  text-align: center;
}

.boutajout h1 {
  padding-top: 80px;
  padding-bottom: 40px;
}

.accompagnanttrouve h1 {
  font-size: 25px;
}

.nontrouve h1 {
  text-align: center;
  font-weight: bold;
}

.centrecontainer {
  height: 100%;
  margin-left: 400px;
}

.milieucontainer {
  height: 100%;
}

.sortie2 {
  height: 100%;
  width: 100%;
}

.sortie2 img {
  width: 160px;
  height: 140px;
}

.alignement2 {
  height: 100%;
  width: 100%;
}

.alignement2 h1 {
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.sort2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.sor2 {
  width: 280px;
  margin: 30px;
}

#proposition {
  color: #CA2222;
  font-weight: bold;
}

.personnes {
  margin-bottom: 30px;
}

.personnes p {
  font-weight: bold;
}

#datecadrage {
  margin-top: 20px;
}

@media screen and (max-width: 1300px) {
  .centrecontainer {
    margin-right: 150px;
    width: 720px;
  }
  .milieucontainer {
    width: 720px;
  }
  .sortie2 {
    width: 720px;
  }
  .alignement2 {
    width: 720px;
  }
}

@media screen and (max-width: 1000px) {
  .encours {
    margin-right: 100px;
  }
  .centrecontainer {
    width: 460px;
  }
  .milieucontainer {
    width: 460px;
  }
  .sortie2 {
    width: 460px;
  }
  .alignement2 {
    width: 460px;
  }
  .boutajout h1 {
    font-size: 24px;
  }
  .nontrouve h1 {
    font-size: 15px;
  }
}

@media screen and (max-width: 700px) {
  .centrecontainer {
    width: 370px;
    margin-right: 200px;
  }
  .milieucontainer {
    width: 370px;
  }
  .sortie2 {
    width: 370px;
  }
  .alignement2 {
    width: 370px;
  }
}

/* page sortieterminee */
.encours2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 45px;
  margin-right: 45px;
  margin-top: 60px;
  height: 100%;
}

.sorties_terminees h1 {
  text-align: center;
  margin-top: 200px;
  margin-left: 400px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

@media screen and (max-width: 1300px) {
  .sorties_terminees h1 {
    margin-left: 240px;
  }
}

@media screen and (max-width: 700px) {
  .sorties_terminees h1 {
    margin-left: 200px;
  }
}

/* pages concept */
.yohann {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 60px;
  padding-bottom: 50px;
}

.yohann img {
  height: 13%;
  width: 13%;
}

@media screen and (max-width: 1000px) {
  .yohann {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .yohann img {
    height: 130px;
    width: 130px;
  }
}

.pitch {
  width: 80%;
  margin-top: 100px;
  margin-bottom: 100px;
  margin: auto;
}

.pitch p {
  line-height: 2;
  color: black;
}

.illustrationsorties {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 60px;
  padding-bottom: 80px;
}

.illustrationsorties img {
  height: 30%;
  width: 30%;
}

@media screen and (max-width: 1000px) {
  .illustrationsorties {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .illustrationsorties img {
    height: 355px;
    width: 310px;
  }
}

.fonctionnement {
  width: 80%;
  margin-top: 100px;
  margin-bottom: 100px;
  margin: auto;
}

.fonctionnement p {
  line-height: 2;
  color: black;
}

.centre2 {
  text-align: center;
  padding-top: 70px;
}

.centre2 h1 {
  padding-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.titrearticle {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 100px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.titrearticle h2 {
  color: #CA2222;
  font-weight: bold;
}

.articleimage {
  width: 300px;
  height: 300px;
}

.articleimage img {
  width: 300px;
  height: 300px;
}

.datearticle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.datearticle img {
  width: 50px;
  height: 50px;
}

.articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 100px;
}

.art {
  width: 400px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.art .datearticle {
  margin-left: auto;
  margin-right: auto;
}

.art .articleimage {
  margin-left: auto;
  margin-right: auto;
}

.art h2 {
  margin-bottom: 30px;
}

.art p {
  margin-top: 30px;
}

.voirarticle {
  padding-top: 20px;
}

/* pages show concept */
.lesarticles {
  width: 100%;
  margin-top: 100px;
  height: 1560px;
}

.showarticle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.showcentrage {
  width: 800px;
}

.retourconcept {
  padding-bottom: 50px;
}

.articletp img {
  height: 400px;
  width: 800px;
}

.articletp h2 {
  padding-bottom: 40px;
}

.contenuarticle {
  width: 100%;
}

.datearticle {
  width: 100px;
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
}

.datearticle img {
  margin-right: 40px;
}

.datearticle p {
  font-weight: bold;
}

.containermax {
  width: 800px;
}

.containermax p {
  font-weight: bold;
  width: 800px;
  height: 800px;
}

@media screen and (max-width: 920px) {
  .articletp img {
    height: 70%;
    width: 70%;
  }
  .contenuarticle {
    width: 70%;
    margin: 0 auto;
  }
  .containermax {
    width: 100%;
  }
  .containermax p {
    width: 100%;
  }
  .datearticle {
    margin: 0 auto;
  }
}

/* page detailsortie */
.showsorties {
  margin-top: 120px;
  margin-left: 400px;
  text-align: center;
}

.showcentrer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.conteneursortie {
  width: 340px;
  margin: 30px;
}

.conteneursortie img {
  width: 335px;
}

.infospratiques h1 {
  font-size: 20px;
}

.infospratiques p {
  font-size: 12px;
}

.centrerinfos {
  margin-top: 100px;
}

.titreinfos h1 {
  text-align: center;
}

.boiteinfos {
  background-color: black;
  width: 300px;
  height: 180px;
  border-radius: 20px;
  margin: 0 auto;
}

.boiteinfos .forminfos {
  padding-top: 30px;
  padding-left: 10px;
}

#formboutton {
  margin-left: 20px;
  border-radius: 2px;
  background-color: #1877F2;
}

.centrepoubelle {
  margin-right: 0px;
}

.uneinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.uneinfo p {
  color: white;
  margin-left: 15px;
}

.uneinfo img {
  height: 24px;
  width: 24px;
}

.poubelle a {
  margin: 0 auto;
}

@media screen and (max-width: 1300px) {
  .showsorties {
    margin-left: 215px;
  }
}

@media screen and (max-width: 1025px) {
  .showsorties {
    margin-left: 150px;
  }
  .conteneursortie {
    width: 250px;
  }
  .conteneursortie img {
    width: 246px;
  }
  .infospratiques {
    width: 250px;
    margin-left: 60px;
  }
  .boiteinfos {
    width: 250px;
  }
  .uneinfo p {
    font-size: 11px;
  }
  #forminput {
    width: 70%;
  }
}

@media screen and (max-width: 800px) {
  .conteneursortie {
    width: 180px;
    margin-top: 80px;
  }
  .conteneursortie img {
    width: 176px;
  }
  #sup {
    height: 36px;
    width: 36px;
  }
  .infospratiques {
    margin-left: 20px;
    margin-bottom: 80px;
  }
  .showsorties {
    margin-left: 140px;
  }
  .showcentrer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */